# Database overview notebook

> First time use: follow instructions in the README.md file in this directory.

## Setup

In [15]:
import os
from timelink.mhk.utilities import get_engine,get_connection_string, get_dbnames
import ipywidgets as widgets

In [16]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## Connect to database

### Choose the database

In [18]:

dblist = get_dbnames()
w = widgets.Select(
    options=dblist,
    description='Database:',
    disabled=False,
)
display(w)

Select(description='Database:', options=('soure_ipm', 'ucprosop'), value='soure_ipm')

In [20]:
db = w.value
w.close()
connection_string = get_connection_string(db)
%sql $connection_string
print("Selected database: {db} ".format(db=db))

Exception during reset or similar
Traceback (most recent call last):
  File "/Users/jrc/.pyenv/versions/3.9.6/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 682, in _finalize_fairy
    fairy._reset(pool)
  File "/Users/jrc/.pyenv/versions/3.9.6/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 887, in _reset
    pool._dialect.do_rollback(self)
  File "/Users/jrc/.pyenv/versions/3.9.6/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 667, in do_rollback
    dbapi_connection.rollback()
  File "/Users/jrc/.pyenv/versions/3.9.6/lib/python3.9/site-packages/mysql/connector/connection_cext.py", line 412, in rollback
    self._cmysql.rollback()
_mysql_connector.MySQLInterfaceError: Lost connection to MySQL server during query

Selected database: soure_ipm

In [21]:
%config SqlMagic.displaycon=False

## Database status

In [22]:
%sql select class, count(*) from entities group by class

21 rows affected.

[('act', 10844),
 ('acta', 97),
 ('acusacoes', 315),
 ('aforamento', 2),
 ('aregister', 5),
 ('attribute', 65441),
 ('cartaperdao', 2),
 ('caso', 40),
 ('class', 27),
 ('crime', 1),
 ('divida', 3),
 ('escritura', 243),
 ('geoentity', 9),
 ('good', 6),
 ('group_element', 10870),
 ('item', 92),
 ('object', 2),
 ('person', 51438),
 ('relation', 86656),
 ('rperson', 1051),
 ('source', 184)]

## Recent sources

In [8]:
%sql select sources.id, sources.kleiofile, entities.updated from sources left join entities on (sources.id=entities.id) order by updated desc limit 10

10 rows affected.

[('baptizados 1725', '/kleio-home/sources/soure-fontes/sources/1720-1732/bap1725.cli', datetime.datetime(2021, 8, 19, 10, 42, 7)),
 ('baptizados 1724', '/kleio-home/sources/soure-fontes/sources/1720-1732/bap1724.cli', datetime.datetime(2021, 8, 19, 10, 41, 35)),
 ('baptizados 1723', '/kleio-home/sources/soure-fontes/sources/1720-1732/bap1723.cli', datetime.datetime(2021, 8, 19, 10, 41, 1)),
 ('baptizados 1722', '/kleio-home/sources/soure-fontes/sources/1720-1732/bap1722.cli', datetime.datetime(2021, 8, 19, 10, 40, 24)),
 ('baptizados 1721', '/kleio-home/sources/soure-fontes/sources/1720-1732/bap1721.cli', datetime.datetime(2021, 8, 19, 10, 39, 44)),
 ('baptizados 1720-removed', '/Users/jrc/mhk-home/sources/soure-fontes/sources/1720-1732/bap1720.cli', datetime.datetime(2021, 8, 19, 10, 39, 40)),
 ('ap-soure-coimbra-bispcoimbra', '/Users/jrc/mhk-home/sources/soure-fontes/sources/soure_fase1/varia/sourecoimbrabispcoimbra_apontamentosd.cli', datetime.datetime(2021, 8, 19, 10, 39, 36)),
 ('ap-soure', '/Users/jrc/mhk-home/sources/soure-fontes/sources/soure_fase1/varia/soure_apontamentosd.cli', datetime.datetime(2021, 8, 19, 10, 39, 31)),
 ('f-po115', '/Users/jrc/mhk-home/sources/soure-fontes/sources/1685-1720/ordenacoes/po115.cli', datetime.datetime(2021, 8, 19, 10, 39, 27)),
 ('proc_ord_1', '/kleio-home/sources/soure-fontes/sources/1685-1720/ordenacoes/po01.cli', datetime.datetime(2021, 8, 19, 10, 37, 41))]